.hidden {
    display: none;
}

.navbar {
    display: flex;

    align-items: center;

    justify-content: space-between;

    height: 80px;

    list-style-type: none;
}

.logo-container {
    height: 64px;
    width: 64px;
}

.logo {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
